[package]
name = "sidecar-common"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
default = []
user = ["aya"]

[dependencies]
aya = { version = "0.12", optional = true }

[lib]
path = "src/lib.rs"
